.p-mv {
  background-image: url("../../../../images/page/football/leader/img_mv.png");
}

.p-box {
  padding: 0 0 130px 0;
}

@media screen and (max-width: 767px) {
  .p-box {
    padding: 0 0 70px 0;
  }
}