.p-mv {
  background-image: url("../../../images/page/football/img_mv.jpg");
}

.p-box {
  padding: 90px 0 200px 0;
  background: #f4f6fc;
}

.p-box .container {
  width: 1020px;
  padding: 0 30px;
  margin: 0 auto;
}

.p-box .description {
  color: #111;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 2;
  letter-spacing: 0.05em;
  text-align: center;
}

.p-box .box {
  padding: 45px;
  border: 3px solid #1b2c56;
  border-radius: 6px;
  margin-top: 45px;
}

.p-box .box:nth-of-type(1) {
  margin-top: 70px;
  background: url(../../../images/page/football/bg_01.jpg) no-repeat center right / contain, #fff;
}

.p-box .box:nth-of-type(2) {
  background: url(../../../images/page/football/bg_02.jpg) no-repeat center right / contain, #fff;
}

.p-box .box:nth-of-type(3) {
  background: url(../../../images/page/football/bg_03.jpg) no-repeat center right / contain, #fff;
}

.p-box .box:nth-of-type(4) {
  background: url(../../../images/page/football/bg_04.jpg) no-repeat center right / contain, #fff;
}


.p-box .box p {
  max-width: 542px;
  margin-top: 20px;
  color: #1b2c56;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.75;
  letter-spacing: 0.05em;
}

.p-box .box .button {
  margin-top: 30px;
  max-width: 200px;
}

@media screen and (max-width: 767px) {
  .p-box {
    padding: 50px 0 70px 0;
  }

  .p-box .container {
    width: auto;
    padding: 0 20px;
  }

  .p-box .description {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.75;
  }

  .p-box .box {
    padding: 25px 20px;
    border: 2px solid #1b2c56;
    margin-top: 30px;
  }

  .p-box .box:nth-of-type(1) {
    margin-top: 45px;
    background: url(../../../images/page/football/bg_01.jpg) no-repeat center right 100% / cover, #fff;
  }

  .p-box .box:nth-of-type(2) {
    background: url(../../../images/page/football/bg_02.jpg) no-repeat center right 100% / cover, #fff;
  }

  .p-box .box:nth-of-type(3) {
    background: url(../../../images/page/football/bg_03.jpg) no-repeat center right 100% / cover, #fff;
  }

  .p-box .box:nth-of-type(4) {
    background: url(../../../images/page/football/bg_04.jpg) no-repeat center right 100% / cover, #fff;
  }


  .p-box .box p {
    margin-top: 15px;
    font-size: 13px;
    font-size: 1.3rem;
  }

  .p-box .box .button {
    margin-top: 20px;
  }
}