/*---------- 共通 ----------*/
.p-mv {
  background-image: url("../../../images/page/contact/img_mv.jpg");
}


/*---------- お問い合わせ ----------*/
.p-contact-box .description {
  color: #111;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 2;
  letter-spacing: 0.05em;
  text-align: center;
}

.p-contact-box .form {
  max-width: 800px;
  margin: 65px auto 0 auto;
}

.p-contact-box .form table {
  width: 100%;
  table-layout: fixed;
}

.p-contact-box .form table tr th,
.p-contact-box .form table tr td {
  vertical-align: middle;
  border-top: 1px dashed #1b2c56;
  text-align: left;
}

.p-contact-box .form table tr th {
  width: 315px;
  padding: 17px 30px;
  background: #f1f4fb;
}

.p-contact-box .form table tr th p {
  display: inline-block;
  margin: 5px 12px 5px 0;
  color: #1b2c56;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.35;
  letter-spacing: 0.05em;
}

.p-contact-box .form table tr th p:nth-of-type(2) {
  margin-right: 0;
}

.p-contact-box .form table tr th span {
  display: inline-block;
  padding: 5px 15px;
  background: #1b2c56;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 500;
}

.p-contact-box .form table tr td {
  padding: 10px 30px;
  color: #1b2c56;
  font-size: 14px;
  font-size: 1.4rem;
  letter-spacing: 0.05em;
}

.p-contact-box .form table tr td span {
  display: inline-block;
  margin: 0 20px;
}

.p-contact-box .form table tr td .error {
  display: block;
  margin: 5px 0;
  color: #ea0029;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.35;
  letter-spacing: 0.05em;
}

.p-contact-box .form table tr td .vertical-item {
  display: block;
  margin: 9px 0;
}

.p-contact-box .form table tr td .remark {
  margin: 10px 0 5px 0;
  color: #1b2c56;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.35;
  letter-spacing: 0.05em;
}

.p-contact-box .form table tr td .horizontal-item {
  margin: 0 5px 0 0;
}

.p-contact-box .form table tr td .mwform-checkbox-field.vertical-item {
  display: block;
  margin: 20px 0;
}

.p-contact-box .form table tr td label > input[type="radio"] {
  display: none;
}

.p-contact-box .form table tr td label > input[type="radio"] + span {
  display: inline-block;
  padding-left: 32px;
  margin: 0 10px 0 0;
  position: relative;
}

.p-contact-box .form table tr td label > input[type="radio"] + span::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  margin: auto;
  background: #fff;
  border: 1px solid #9a9a9a;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.p-contact-box .form table tr td label > input[type="radio"]:checked + span::after {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  margin: auto;
  background: #1b2c56;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 4px;
  bottom: 0;
  z-index: 2;
}

.p-contact-box .form table tr td label > input[type="checkbox"] {
  display: none;
}

.p-contact-box .form table tr td label > input[type="checkbox"] + span {
  display: inline-block;
  padding-left: 32px;
  margin: 0;
  position: relative;
}

.p-contact-box .form table tr td label > input[type="checkbox"] + span::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  margin: auto;
  background: #fff;
  border: 1px solid #9a9a9a;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.p-contact-box .form table tr td label > input[type="checkbox"]:checked + span::after {
  content: "";
  display: block;
  width: 3px;
  height: 9px;
  margin: auto;
  border-right: 1px solid #1b2c56;
  border-bottom: 1px solid #1b2c56;
  position: absolute;
  top: 1px;
  left: 7px;
  z-index: 2;
  transform: rotate(40deg);
}

.p-contact-box .form table tr td input[type="text"],
.p-contact-box .form table tr td select,
.p-contact-box .form table tr td textarea {
  padding: 10px 20px;
  background: #fff;
  border: 1px solid #9a9a9a;
  color: #1b2c56;
  font-family: 'Noto Sans Japanese', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  letter-spacing: 0.05em;
}

.p-contact-box .form table tr td input[type="text"],
.p-contact-box .form table tr td textarea {
  width: 100%;
}

.p-contact-box .form table tr td input[type="text"]::placeholder,
.p-contact-box .form table tr td textarea::placeholder {
  color: #cbcbcb;
}

.p-contact-box .form table tr td input[name="age"] {
  width: 72px;
}

.p-contact-box .form table tr td select[name="year"] {
  width: 120px;
}

.p-contact-box .form table tr td select[name="month"] {
  width: 72px;
}

.p-contact-box .form table tr td select[name="todou"] {
  width: 190px;
}

.p-contact-box .form table tr td.button {
  width: 100%;
  padding: 60px 0 0 0;
}

.p-contact-box .form table tr td.button input[type="submit"] {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 420px;
  height: 74px;
  margin: 0 auto 20px auto;
  background: url("../../../images/common/common_button01_icn_arrow.svg") no-repeat center right 18px, #111;
  border: 3px solid #111;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Noto Sans Japanese', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  color: #fff;
  font-size: 20px;
  font-size: 2rem;
  letter-spacing: 0.05em;
  transition: all 0.3s ease;
}

.p-contact-box .form table tr td.button input[type="submit"]:hover {
  background: url("../../../images/common/common_button01_icn_arrow_on.svg") no-repeat center right 18px, #fff;
  color: #111;
}

@media screen and (max-width: 767px) {
  .p-contact-box .description {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.75;
  }

  .p-contact-box .form {
    margin: 45px auto 0 auto;
  }

  .p-contact-box .form table {
    table-layout: inherit;
  }

  .p-contact-box .form table tr th,
  .p-contact-box .form table tr td {
    display: block;
  }

  .p-contact-box .form table tr th {
    width: 100%;
    padding: 10px 15px;
  }

  .p-contact-box .form table tr th p {
    margin: 5px 5px 5px 0;
  }

  .p-contact-box .form table tr th span {
    padding: 4px 10px;
    font-size: 11px;
    font-size: 1.1rem;
  }

  .p-contact-box .form table tr td {
    width: 100%;
    padding: 20px 15px;
    font-size: 13px;
    font-size: 1.3rem;
  }

  .p-contact-box .form table tr td span {
    margin: 0 15px;
  }

  .p-contact-box .form table tr td .horizontal-item {
    margin: 0 5px 0 0;
  }

  .p-contact-box .form table tr td .mwform-checkbox-field.vertical-item {
    margin: 16px 0;
  }

  .p-contact-box .form table tr td input[type="text"],
  .p-contact-box .form table tr td select,
  .p-contact-box .form table tr td textarea {
    padding: 10px;
    font-size: 13px;
    font-size: 1.3rem;
  }

  .p-contact-box .form table tr td input[name="age"] {
    width: 52px;
  }

  .p-contact-box .form table tr td select[name="year"] {
    width: 76px;
  }

  .p-contact-box .form table tr td select[name="month"] {
    width: 62px;
  }

  .p-contact-box .form table tr td select[name="todou"] {
    width: 100%;
  }

  .p-contact-box .form table tr td.button {
    padding: 40px 0 0 0;
  }

  .p-contact-box .form table tr td.button input[type="submit"] {
    height: 54px;
    font-size: 16px;
    font-size: 1.6rem;
    transition: none;
  }

  .p-contact-box .form table tr td.button input[type="submit"]:hover {
    background: url("../../../images/common/common_button01_icn_arrow.svg") no-repeat center right 18px, #111;
    color: #fff;
  }
}


/*---------- 確認画面 ----------*/
.p-contact-box.confirm .form table tr td .remark {
  display: none;
}


/*---------- 送信完了 ----------*/
.p-contact-box.thanks p {
  margin-top: 40px;
  color: #111;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.75;
  letter-spacing: 0.05em;
}

.p-contact-box.thanks p:first-child {
  margin-top: 0;
}

.p-contact-box.thanks .button {
  max-width: 300px;
  margin: 40px auto 0 auto;
}

.p-contact-box.thanks .button a span {
  padding-left: 0;
  background: none;
}

@media screen and (max-width: 767px){
  .p-contact-box.thanks p {
    font-size: 13px;
    font-size: 1.3rem;
  }
}