/*---------- 共通 ----------*/
.p-mv {
  background-image: url("../../../images/post/blog/img_mv.jpg");
}

.p-box {
  padding: 120px 0 100px 0;
}

.p-box .p-container {
  width: 1020px;
  padding: 0 30px;
  margin: 0 auto;
}

.p-news-box {
  padding-top: 120px;
  margin-top: -120px;
  background: #f4f6fc;
  position: relative;
}

.p-news-box::before {
  content: "";
  display: block;
  width: 100%;
  height: 100px;
  background: #f4f6fc;
  position: absolute;
  left: 0;
  bottom: -100px;
}

@media screen and (max-width: 767px) {
  .p-box {
    padding: 50px 0 70px 0;
  }

  .p-box .p-container {
    display: block;
    width: 100%;
    padding: 0 20px;
  }
  
  .p-news-box {
    padding-top: 50px;
    margin-top: -50px;
  }

  .p-news-box::before {
    height: 70px;
    bottom: -70px;
  }
}


/*---------- 一覧 ----------*/
.p-news-box.archive ul li {
  border-bottom: 1px solid #111;
}

.p-news-box.archive ul li .flex {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  padding: 25px 0;
  color: #111;
  text-decoration: none;
  transition: all 0.3s ease;
}

.p-news-box.archive ul li .flex:hover {
  opacity: 0.7;
}

.p-news-box.archive ul li .flex .day {
  width: 255px;
  padding: 0 20px 0 30px;
  font-family: 'Roboto', sans-serif;
  color: #111;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.p-news-box.archive ul li .flex .title {
  width: calc(100% - 255px);
}

.p-news-box.archive ul li .flex .title h3 {
  color: #111;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.35;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 767px){
  .p-news-box.archive ul {
    margin-top: 5px;
  }

  .p-news-box.archive ul li .flex {
    display: block;
    padding: 12px 0;
    transition: none;
  }

  .p-news-box.archive ul li .flex:hover {
    opacity: 1;
  }

  .p-news-box.archive ul li .flex .day {
    width: auto;
    padding: 0;
    font-size: 13px;
    font-size: 1.3rem;
  }

  .p-news-box.archive ul li .flex .title {
    width: auto;
  }

  .p-news-box.archive ul li .flex .title h3 {
    font-size: 14px;
    font-size: 1.4rem;
  }
}


/*---------- 詳細 ----------*/
.p-news-box.single .meta {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.p-news-box.single .meta .day {
  margin-right: 20px;
  color: #1b2c56;
  font-size: 12px;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
}

.p-news-box.single .meta .cat {
  padding: 7px 20px;
  background: #1b2c56;
  color: #fff;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 500;
}

.p-news-box.single .title {
  padding-bottom: 18px;
  margin-top: 8px;
  border-bottom: 1px dashed #1b2c56;
  color: #1b2c56;
  font-size: 20px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.05em;
}

.p-news-box.single .eyecatch {
  margin-top: 30px;
  text-align: center;
}

.p-news-box.single .editor {
  margin-top: 25px;
  border-bottom: 1px dashed #1b2c56;
}

.p-news-box.single .editor #toc_container {
  padding: 20px 20px 10px 20px;
  margin-bottom: 40px;
  background: #fff;
  border-radius: 6px;
}

.p-news-box.single .editor .toc_list li {
  margin-bottom: 5px !important;
}

.p-news-box.single .editor .toc_list li a {
  display: inline-block;
  margin-bottom: 5px;
  color: #1b2c56;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.35;
  letter-spacing: 0.05em;
  position: relative;
  transition: opacity 0.3s ease;
}

.p-news-box.single .editor .toc_list li a:hover {
  opacity: 0.7;
  text-decoration: none !important;
}

.p-news-box.single .editor .toc_list li a::before {
  content: "・";
  position: absolute;
  margin: auto;
  top: 0;
  left: -1em;
  bottom: 0;
}

.p-news-box.single .editor .toc_list li a[href^="#h2"] {
  margin-bottom: 10px;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 700;
}

.p-news-box.single .editor .toc_list li a[href^="#h2"]::before {
  display: none;
}

.p-news-box.single .editor p {
  margin-bottom: 30px;
  color: #1b2c56;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.71;
  letter-spacing: 0.05em;
}

.p-news-box.single .editor h2 {
  padding: 10px 20px;
  margin-bottom: 15px;
  background: #1b2c56;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.05em;
}

.p-news-box.single .editor h3 {
  padding: 6px 0 6px 20px;
  margin-bottom: 15px;
  color: #1b2c56;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.05em;
  position: relative;
}

.p-news-box.single .editor h3::before {
  content: "";
  display: block;
  width: 6px;
  height: 100%;
  background: #1b2c56;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
}

.p-news-box.single .editor ul {
  padding-left: 25px;
  margin-bottom: 40px;
  list-style: disc;
}

.p-news-box.single .editor ul li {
  margin-top: 5px;
  color: #1b2c56;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.05em;
}

.p-news-box.single .editor ul li:first-of-type {
  margin-top: 0;
}

.p-news-box.single .button {
  max-width: 200px;
  margin: 50px auto 0 auto;
}

@media screen and (max-width: 767px) {
  .p-news-box.single .meta .day {
    margin-right: 10px;
  }

  .p-news-box.single .meta .cat {
    padding: 5px 15px;
    font-size: 12px;
    font-size: 1.2rem;
  }

  .p-news-box.single .title {
    padding-bottom: 14px;
    font-size: 18px;
    font-size: 1.8rem;
  }

  .p-news-box.single .eyecatch {
    margin-top: 20px;
  }

  .p-news-box.single .editor {
    margin-top: 15px;
  }

  .p-news-box.single .editor #toc_container {
    padding: 15px 15px 5px 15px;
    margin-bottom: 30px;
  }

  .p-news-box.single .editor .toc_list li a {
    font-size: 13px;
    font-size: 1.3rem;
    transition: none;
  }

  .p-news-box.single .editor .toc_list li a:hover {
    opacity: 1;
  }

  .p-news-box.single .editor .toc_list li a[href^="#h2"] {
    font-size: 15px;
    font-size: 1.5rem;
  }

  .p-news-box.single .editor p {
    margin-bottom: 30px;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.75;
  }

  .p-news-box.single .editor h2 {
    font-size: 16px;
    font-size: 1.6rem;
  }

  .p-news-box.single .editor h3 {
    padding: 4px 0 4px 15px;
    font-size: 15px;
    font-size: 1.5rem;
  }

  .p-news-box.single .editor h3::before {
    width: 4px;
  }

  .p-news-box.single .editor ul {
    padding-left: 22px;
    margin-bottom: 30px;
  }

  .p-news-box.single .editor ul li {
    font-size: 13px;
    font-size: 1.3rem;
  }

  .p-news-box.single .editor ul li:first-of-type {
    margin-top: 0;
  }

  .p-news-box.single .button {
    margin: 35px auto 0 auto;
  }
}