@charset "UTF-8";

/* Table Of Contents
----------------------------------------------------------------------------
General Elements
header
gNav
visual
topicPath
footer
---------------------------------------------------------------------------- */


/*General Elements
---------------------------------------------------------------------------- */
html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans Japanese', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: 1;
  color: #111;
}

a {
  color: #e75503;
  text-decoration: underline;
  outline: none;
}

a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}


/*l-header
---------------------------------------------------------------------------- */
.l-header {
  width: 100%;
  padding-left: 30px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  transition: all 0.3s ease;
}

.l-header.home {
  display: none;
}

.l-header.is-clone {
  position: fixed;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
}

.l-header.is-clone.is-scroll {
  box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.1);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
}

.l-header .flex {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100px;
}

.l-header .logo a {
  display: inline-block;
  transition: all 0.3s ease;
}

.l-header .logo a:hover {
  opacity: 0.7;
}

.l-header .logo a img {
  width: 300px;
}

@media screen and (max-width: 1230px){
  .l-header {
    padding-left: 20px;
    box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.1);
    position: fixed;
    transition: all 0.3s ease;
  }

  .l-header.home {
    display: block;
  }

  .l-header.is-clone {
    display: none;
  }

  .l-header .flex {
    height: 70px;
  }

  .l-header .logo a {
    display: inline-block;
    transition: none;
  }

  .l-header .logo a:hover {
    opacity: 1;
  }

  .l-header .logo a img {
    width: 200px;
  }
}


/* l-toggle
---------------------------------------------------------------------------- */
.l-toggle {
  display: none;
}

@media screen and (max-width: 767px) {
  .l-toggle {
    display: block;
    width: 70px;
    height: 70px;
    background: #1b2c56;
    cursor: pointer;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 13;
  }

  .l-toggle span {
    display: block;
    width: 40px;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 15px;
    margin: auto;
    transition: all 0.3s ease;
  }
  .l-toggle span:nth-child(1) {
    top: 25px;
  }
  .l-toggle span:nth-child(2) {
    width: 30px;
    top: 34px;
  }
  .l-toggle span:nth-child(3) {
    top: 43px;
  }

  .l-toggle.is-open span:nth-child(1) {
    top: 34px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .l-toggle.is-open span:nth-child(2) {
    opacity: 0;
  }
  .l-toggle.is-open span:nth-child(3) {
    top: 34px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}


/* l-nav
---------------------------------------------------------------------------- */
.l-nav {
  padding-right: 30px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 12;
  transition: all 0.3s ease;
}

.l-nav.home {
  display: none;
}


.l-nav.is-clone {
  position: fixed;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
}

.l-nav.is-clone.is-scroll {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
}

.l-nav > .flex {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100px;
}

.l-nav .links > .flex {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.l-nav .links ul li {
  margin: 0 12px;
}

.l-nav .links ul li a {
  color: #1b2c56;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-decoration: none;
}

.l-nav .links ul li a span {
  display: inline-block;
  position: relative;
}

.l-nav .links ul li a span:before {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  margin: auto;
  background: #ea0029;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  transition: all 0.3s ease;
}

.l-nav .links ul li a:hover span:before,
.l-nav .links ul li a.is-current span:before {
  width: 100%;
}

.l-nav .sns {
  margin-left: 13px;
}

.l-nav .sns > .flex {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.l-nav .sns ul li {
  margin: 0 5px;
}

.l-nav .sns ul li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.l-nav .sns ul li:nth-of-type(1) a {
  background: url("../../images/common/header_icn_twitter.svg") no-repeat center center / 22px auto, #1b2c56;
}

.l-nav .sns ul li:nth-of-type(2) a {
  background: url("../../images/common/header_icn_instagram.svg") no-repeat center center / 23px auto, #1b2c56;
}

.l-nav .sns ul li:nth-of-type(3) a {
  background: url("../../images/common/header_icn_facebook.svg") no-repeat center center / 23px auto, #1b2c56;
}

.l-nav .sns ul li a:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1230px){
  .l-nav {
    display: none;
    width: 100%;
    height: 100vh;
    padding-right: 0;
    background: #fff;
    position: fixed;
    left: 0;
    right: auto;
    z-index: 12;
    transition: none;
  }

  .l-nav.is-clone {
    display: none !important;
  }

  .l-nav > .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100vh;
  }
  
  .l-nav .links {
    width: 100%;
  }

  .l-nav .links > .flex {
    display: block;
  }

  .l-nav .links ul li {
    margin: 0;
    text-align: center;
  }

  .l-nav .links ul li a {
    display: inline-block;
    padding: 15px 20px;
    color: #1b2c56;
    font-size: 17px;
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-decoration: none;
  }

  .l-nav .links ul li a span {
    display: inline-block;
    padding-bottom: 6px;
    border-bottom: 2px dashed #1b2c56;
    position: relative;
  }

  .l-nav .links ul li a span:before {
    display: none;
  }

  .l-nav .sns {
    width: 100%;
    margin-left: 0;
  }

  .l-nav .sns > .flex {
    display: block;
    margin-top: 15px;
    text-align: center;
  }

  .l-nav .sns ul li {
    display: inline-block;
    margin: 0 6px 0 8px;
  }

  .l-nav .sns ul li a {
    transition: none;
  }

  .l-nav .sns ul li a:hover {
    opacity: 1;
  }
}


/* l-mv
---------------------------------------------------------------------------- */
.l-mv {
  height: 300px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.l-mv:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(27,44,86,0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.l-mv .m-container {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 2;
}

.l-mv .en {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.35;
  letter-spacing: 0.05em;
  text-align: center;
}

.l-mv .title {
  margin-top: 5px;
  color: #fff;
  font-size: 39px;
  font-size: 3.9rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.05em;
  text-align: center;
}

@media screen and (max-width: 767px){
  .l-mv {
    height: 150px;
  }

  .l-mv .en {
    font-size: 13px;
    font-size: 1.3rem;
  }

  .l-mv .title {
    font-size: 26px;
    font-size: 2.6rem;
  }
}


/* l-mv
---------------------------------------------------------------------------- */
.l-box {
  padding: 80px 0;
}

@media screen and (max-width: 767px){
  .l-box {
    padding: 50px 0;
  }
}


/* l-topicPath
---------------------------------------------------------------------------- */
.l-topicPath {
  padding: 20px 0;
  background: #f2f2f2;
}

.l-topicPath li {
  display: inline-block;
  font-size: 14px;
  font-size: 1.4rem;
  letter-spacing: 0.05em;
}

.l-topicPath li.p-topicHome {
  /*
  background: url(../../../images/common/bg_crumb_home.png) left center no-repeat;
  padding-left: 22px;
  */
}

.l-topicPath li a {
  color: #111;
  text-decoration: underline;
}

.l-topicPath li a:hover {
  text-decoration: none;
}

.l-topicPath-arrow {
  margin-left: 0.5em;
}

.l-topicPath-arrow:before {
  content: '＞ ';
}

@media screen and (max-width: 767px){
  .l-topicPath {
    padding: 15px 0;
  }

  .l-topicPath li {
    font-size: 13px;
    font-size: 1.3rem;
  }
}


/* l-pageBody
---------------------------------------------------------------------------- */
.l-pageBody {
  width: 100%;
  min-width: 1340px;
  margin-top: 100px;
  overflow: hidden;
}

.l-pageBody.home {
  margin-top: 0;
}

@media screen and (max-width: 767px){
  .l-pageBody {
    min-width: inherit;
    margin-top: 70px;
  }
  
  .l-pageBody.home {
    margin-top: 70px;
  }
}


/* l-sidebar
---------------------------------------------------------------------------- */
.l-sidebar {
  width: 92px;
  height: 369px;
  padding-top: 54px;
  position: fixed;
  top: 250px;
  right: 0;
  z-index: 11;
}

.l-sidebar a {
  display: block;
  width: 92px;
  height: 369px;
}

.l-sidebar a:before {
  content: "";
  display: block;
  width: 92px;
  height: 86px;
  background: url(../../images/common/bg_sidebar_before.png) no-repeat top left;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.l-sidebar a img {
  margin-left: 17px;
  filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.3));
}

@media screen and (max-width: 1050px){
  .l-sidebar {
    width: 46px;
    height: 184.5px;
    padding-top: 27px;
  }

  .l-sidebar a {
    width: 46px;
    height: 184.5px;
  }

  .l-sidebar a:before {
    width: 46px;
    height: 43px;
    background: url(../../images/common/bg_sidebar_before.png) no-repeat top left / 46px 43px;
  }

  .l-sidebar a img {
    margin-left: 0;
  }
}

@media screen and (max-width: 767px){
  .l-sidebar {
    display: none;
  }
}


/* l-pageTop
---------------------------------------------------------------------------- */
.l-pageTop {
}

@media screen and (max-width: 767px){
}


/* l-footer
---------------------------------------------------------------------------- */
.l-footer {
  min-width: 1340px;
  padding: 50px 0 15px 0;
  margin-top: 120px;
  background: #111;
}

.l-footer.page {
  margin-top: 0;
}

.l-footer .flex {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.l-footer .flex .logo a {
  display: inline-block;
  transition: all 0.3s ease;
}

.l-footer .flex .logo a:hover {
  opacity: 0.7;
}

.l-footer .flex .logo a img {
  width: 300px;
  height: auto;
}

.l-footer .flex .links ul li {
  display: inline-block;
  margin: 9px 32px 0 0;
}

.l-footer .flex .links ul li a {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  font-size: 1.4rem;
  letter-spacing: 0.05em;
  text-decoration: none;
  transition: all 0.3s ease;
}

.l-footer .flex .links ul li a:hover {
  opacity: 0.7;
}

.l-footer .copyright {
  margin-top: 45px;
}

.l-footer .copyright p {
  color: #fff;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.35;
  letter-spacing: 0.05em;
  text-align: center;
}

@media screen and (max-width: 767px){
  .l-footer {
    min-width: inherit;
    padding: 20px 0 20px 0;
    margin-top: 50px;
  }
  
  .l-footer .flex {
    display: block;
    text-align: center;
  }

  .l-footer .flex .logo a {
    display: inline-block;
    transition: none;
  }

  .l-footer .flex .logo a:hover {
    opacity: 1;
  }

  .l-footer .flex .logo a img {
    width: 200px;
  }
  
  .l-footer .flex .links {
    display: none;
  }

  .l-footer .copyright {
    margin-top: 10px;
  }

  .l-footer .copyright p {
    font-size: 10px;
    font-size: 1rem;
  }
}