@charset "UTF-8";

/* Webフォント
---------------------------------------------------------------------------- */

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 100;
  src: url("../../fonts/NotoSansJP-Thin.woff2") format("woff2"),url("../../fonts/NotoSansJP-Thin.woff") format("woff"), url("../../fonts/NotoSansJP-Thin.ttf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 200;
  src: url("../../fonts/NotoSansJP-Light.woff2") format("woff2"),url("../../fonts/NotoSansJP-Light.woff") format("woff"), url("../../fonts/NotoSansJP-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/NotoSansJP-DemiLight.woff2") format("woff2"),url("../../fonts/NotoSansJP-DemiLight.woff") format("woff"), url("../../fonts/NotoSansJP-DemiLight.ttf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/NotoSansJP-Regular.woff2") format("woff2"),url("../../fonts/NotoSansJP-Regular.woff") format("woff"), url("../../fonts/NotoSansJP-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/NotoSansJP-Medium.woff2") format("woff2"),url("../../fonts/NotoSansJP-Medium.woff") format("woff"), url("../../fonts/NotoSansJP-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/NotoSansJP-Bold.woff2") format("woff2"),url("../../fonts/NotoSansJP-Bold.woff") format("woff"), url("../../fonts/NotoSansJP-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 900;
  src: url("../../fonts/NotoSansJP-Black.woff2") format("woff2"),url("../../fonts/NotoSansJP-Black.woff") format("woff"), url("../../fonts/NotoSansJP-Black.ttf") format("truetype");
}

.m-notosans-thin {
  font-weight: 100;
  font-family: 'Noto Sans Japanese';
}

.m-notosans-light {
  font-weight: 200;
  font-family: 'Noto Sans Japanese';
}

.m-notosans-demi-light {
  font-weight: 300;
  font-family: 'Noto Sans Japanese';
}

.m-notosans-regular {
  font-weight: 400;
  font-family: 'Noto Sans Japanese';
}

.m-notosans-medium {
  font-weight: 500;
  font-family: 'Noto Sans Japanese';
}

.m-notosans-bold {
  font-weight: 700;
  font-family: 'Noto Sans Japanese';
}

.m-notosans-black {
  font-weight: 900;
  font-family: 'Noto Sans Japanese';
}


/* .m-container
---------------------------------------------------------------------------- */
.m-container {
  width: 1340px;
  padding: 0 30px;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 767px){
  .m-container {
    width: 100%;
    padding: 0 20px;
  }
}


/* .m-bg
---------------------------------------------------------------------------- */
.m-bg {
  width: 100%;
  overflow: hidden;
}


/* タイトル系
---------------------------------------------------------------------------- */
.m-title01 .icon {
  margin-bottom: 12px;
  text-align: center;
}

.m-title01 .title {
  color: #1b2c56;
  font-size: 40px;
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.35;
  letter-spacing: 0.05em;
  text-align: center;
}

.m-title01 .title img {
  position: relative;
  top: -15px;
  left: 0;
}

.m-title01.small .title {
  font-size: 30px;
  font-size: 3rem;
}

@media screen and (max-width: 767px) {
  .m-title01 .icon {
    margin-bottom: 12px;
    text-align: center;
  }

  .m-title01 .title {
    font-size: 24px;
    font-size: 2.4rem;
  }

  .m-title01 .title img {
    top: -5px;
  }

  .m-title01.small .title {
    font-size: 20px;
    font-size: 2rem;
  }
}


.m-title02 {
  padding-bottom: 13px;
  color: #1b2c56;
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: 900;
  line-height: 1.35;
  letter-spacing: 0.05em;
  position: relative;
}

.m-title02::before {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background: #111;
  position: absolute;
  left: 0;
  bottom: 0;
}

.m-title02.center {
  text-align: center;
}

.m-title02.center::before {
  margin: auto;
  right: 0;
}

@media screen and (max-width: 767px) {
  .m-title02 {
    font-size: 20px;
  }
}


.m-title03 .en {
  font-family: 'Roboto', sans-serif;
  color: #1b2c56;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.35;
  letter-spacing: 0.05em;
  text-align: center;
}

.m-title03 .title {
  margin-top: 8px;
  color: #1b2c56;
  font-size: 30px;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.05em;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .m-title03 .title {
    margin-top: 5px;
    font-size: 20px;
    font-size: 2rem;
  }
}


.m-title04 .en {
  color: #1b2c56;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.35;
  letter-spacing: 0.05em;
  text-align: center;
}
.m-title04 .title {
  margin-top: 8px;
  color: #1b2c56;
  font-size: 40px;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.05em;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .m-title04 .en {
    font-size: 12px;
    font-size: 1.2rem;
  }
  .m-title04 .title {
    margin-top: 4px;
    font-size: 26px;
    font-size: 2.6rem;
  }
}

/* ボタン系
---------------------------------------------------------------------------- */
.m-button01 {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 54px;
  padding: 0 10px;
  background: url("../../images/common/common_button01_icn_arrow.svg") no-repeat center right 18px, #d90127;
  border: 3px solid #d90127;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.35;
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

.m-button01:hover {
  border-color: #1b2c56;
  background-color: #1b2c56;
}

.m-button01 span {
  position: relative;
  top: -1px;
  left: 0;
}

.m-button01.black {
  border-color: #111;
  background-color: #111;
  color: #fff;
}

.m-button01.black:hover {
  background: url("../../images/common/common_button01_icn_arrow_on.svg") no-repeat center right 18px, #fff;
  color: #111;
}

.m-button01.small {
  height: 50px;
  font-size: 14px;
  font-size: 1.4rem;
}

.m-button01.big {
  height: 72px;
  font-size: 20px;
  font-size: 2rem;
  font-weight: 500;
}

.m-button01.big span {
  top: -2px;
}

.m-button01.back {
  background: url("../../images/common/common_button01_icn_arrow_back.svg") no-repeat center left 18px, #d90127;
}

.m-button01.back:hover {
  background-color: #1b2c56;
}

@media screen and (max-width: 767px) {
  .m-button01 {
    height: 48px;
    border: 2px solid #d90127;
    font-size: 14px;
    font-size: 1.4rem;
    transition: none;
  }

  .m-button01:hover {
    border-color: #d90127;
    background-color: #d90127;
  }

  .m-button01.black:hover {
    background: url("../../images/common/common_button01_icn_arrow_on.svg") no-repeat center right 18px, #111;
    color: #fff;
  }

  .m-button01.small {
    height: 42px;
    font-size: 13px;
    font-size: 1.3rem;
  }

  .m-button01.big {
    height: 54px;
    font-size: 15px;
    font-size: 1.5rem;
  }

  .m-button01.big span {
    top: -1px;
  }
  
  .m-button01.back:hover {
    border-color: #d90127;
    background-color: #d90127;
  }
}


/* パーツ系
---------------------------------------------------------------------------- */
/*------------- .m-support-box -------------*/
.m-support-box {
  padding: 80px 0;
  background: url(../../images/common/common_support_bg_ink.png) no-repeat top 130px right,
    url(../../images/common/common_support_bg_soccer.png) no-repeat top 440px left,
    url(../../images/common/common_support_bg_mic.png) no-repeat top 930px right;
}

.m-support-box .flex {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  max-width: 1040px;
  margin: 90px auto 0 auto;
}

.m-support-box .flex:nth-of-type(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.m-support-box .flex .img {
  width: 576px;
  padding-right: 110px;
}

.m-support-box .flex:nth-of-type(even) .img {
  padding-right: 0;
  padding-left: 110px;
}

.m-support-box .flex .img .border {
  border: 3px solid #1b2c56;
  border-radius: 6px;
  overflow: hidden;
}

.m-support-box .flex .text {
  width: calc(100% - 576px);
}

.m-support-box .flex .text .heading {
  margin-top: 15px;
  color: #1b2c56;
  font-size: 30px;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.35;
  letter-spacing: 0.05em;
}

.m-support-box .flex .text .heading span {
  display: inline-block;
  position: relative;
}

.m-support-box .flex .text .heading span:before {
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  background: #f5d336;
  position: absolute;
  left: 0;
  bottom: 3px;
}

.m-support-box .flex .text .heading span strong {
  position: relative;
  z-index: 2;
}

.m-support-box .flex .text .description {
  margin-top: 25px;
  color: #111;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.75;
  letter-spacing: 0.05em;
  text-align: justify;
  text-justify: inter-ideograph;
  font-variant-ligatures: none;
}

@media screen and (max-width: 767px) {
  .m-support-box {
    padding: 50px 0;
    background: url(../../images/common/common_support_bg_ink.png) no-repeat top 70px right -70px,
      url(../../images/common/common_support_bg_soccer.png) no-repeat top 580px left -80px,
      url(../../images/common/common_support_bg_mic.png) no-repeat top 1190px right -90px;
  }

  .m-support-box .flex {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 40px auto 0 auto;
  }

  .m-support-box .flex:nth-of-type(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .m-support-box .flex .img {
    width: 100%;
    padding-right: 0;
  }

  .m-support-box .flex:nth-of-type(even) .img {
    padding-left: 0;
  }
  
  .m-support-box .flex .img .border img {
    width: 100%;
  }

  .m-support-box .flex .text {
    width: 100%;
  }

  .m-support-box .flex .text .heading {
    margin-top: 20px;
    font-size: 20px;
    font-size: 2rem;
  }
  
  .m-support-box .flex .text .heading span:before {
    height: 6px;
    bottom: 1px;
  }

  .m-support-box .flex .text .description {
    margin-top: 12px;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.75;
  }
}


/*------------- .m-inquiry-box -------------*/
.m-inquiry-box {
  padding-top: 80px;
  padding-bottom: 20px;
}

.m-inquiry-box .box {
  max-width: 1040px;
  padding: 60px 100px 50px 100px;
  margin: 0 auto;
  background: #fdec32;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.1);
}

.m-inquiry-box .box .description {
  margin-top: 20px;
  color: #111;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 2;
  letter-spacing: 0.05em;
  text-align: center;
}

.m-inquiry-box .box .button {
  margin-top: 20px;
}

.m-inquiry-box .box .button .flex {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.m-inquiry-box .box .button .flex a {
  width: 300px;
  margin: 30px 20px 0 20px;
}

@media screen and (max-width: 767px) {
  .m-inquiry-box {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .m-inquiry-box .box {
    padding: 30px;
  }

  .m-inquiry-box .box .description {
    margin-top: 20px;
    font-size: 13px;
    font-size: 1.3rem;
  }

  .m-inquiry-box .box .button {
    margin-top: 15px;
  }

  .m-inquiry-box .box .button .flex {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .m-inquiry-box .box .button .flex a {
    width: 100%;
    margin: 15px 0 0 0;
  }
}


/*------------- .m-sideFixed-box -------------*/
.m-sideFixed-box {
  width: 73px;
  height: 286px;
  margin: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  transform: translateX(100%);
  transition: all 0.3s ease;
}

.m-sideFixed-box.is-scroll {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0);
}

.m-sideFixed-box a {
  display: inline-block;
  transition: all 0.3s ease;
}

.m-sideFixed-box a:hover {
  opacity: 0.7;
}

@media screen and (max-width: 767px) {
  .m-sideFixed-box {
    width: 45.63px;
    height: 178.75px;
    top: auto;
    bottom: 20px;
  }

  .m-sideFixed-box a {
    transition: none;
  }

  .m-sideFixed-box a:hover {
    opacity: 1;
  }

  .m-sideFixed-box a img {
    width: 45.63px;
    height: 178.75px;
  }
}


/*------------- .m-mv -------------*/
.m-mv {
  background-color: #1b2c56;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
}

.m-mv .container {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1140px;
  height: 430px;
  padding: 0 30px;
  margin: 0 auto;
}

.m-mv .box .en {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.35;
  letter-spacing: 0.05em;
}

.m-mv .box .title {
  padding-bottom: 28px;
  margin-top: 30px;
  color: #fff;
  font-size: 39px;
  font-size: 3.9rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.05em;
  position: relative;
}

.m-mv .box .title::before {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
}

.m-mv .box .read {
  margin-top: 30px;
  color: #fff;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 767px) {
  .m-mv {
    background-position: center right 100%;
    background-size: cover;
    position: relative;
  }
  
  .m-mv::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .m-mv .container {
    display: block;
    width: 100%;
    height: auto;
    padding: 40px 20px;
    position: relative;
    z-index: 2;
  }

  .m-mv .box .en {
    font-size: 13px;
    font-size: 1.3rem;
  }

  .m-mv .box .title {
    padding-bottom: 12px;
    margin-top: 10px;
    font-size: 28px;
    font-size: 2.8rem;
  }

  .m-mv .box .title::before {
    width: 40px;
    height: 2px;
  }

  .m-mv .box .read {
    margin-top: 20px;
    font-size: 13px;
    font-size: 1.3rem;
  }
  
  .m-mv .box .read br {
    display: none;
  }
}


/*------------- .m-nav-box -------------*/
.m-nav-box .container {
  width: 1140px;
  padding: 8px 30px;
  margin: 0 auto;
}
.m-nav-box .container > .flex {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 120px;
}

.m-nav-box .flex li {
  width: 100%;
  border-right: 1px solid #1b2c56;
  text-align: center;
}

.m-nav-box .flex li:first-of-type {
  border-left: 1px solid #1b2c56;
}

.m-nav-box .flex li a {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 120px;
  color: #1b2c56;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.35;
  letter-spacing: 0.05em;
  text-decoration: none;
  position: relative;
  transition: opacity 0.3s ease;
}

.m-nav-box .flex li a::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  margin: auto;
  border-bottom: 2px solid #111;
  border-right: 2px solid #111;
  transform: rotate(45deg);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 12px;
}

.m-nav-box .flex li a:hover {
  opacity: 0.7;
}

.m-nav-box .flex li a span {
  display: block;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: #1b2c56;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.35;
  letter-spacing: 0.05em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 0;
}

.m-nav-box .flex li a p {
  display: inline-block;
  color: #1b2c56;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.35;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 767px) {
  .m-nav-box .container {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
  }
  .m-nav-box .container > .flex {
    display: block;
    width: 100%;
    height: auto;
  }

  .m-nav-box .flex li {
    border-right: none;
    border-bottom: 1px solid #1b2c56;

  }

  .m-nav-box .flex li:first-of-type {
    border-top: 1px solid #1b2c56;
    border-left: none;
  }

  .m-nav-box .flex li a {
    display: block;
    height: auto;
    padding: 10px 0 25px 0;
    font-size: 13px;
    font-size: 1.3rem;
    transition: none;
  }

  .m-nav-box .flex li a:hover {
    opacity: 1;
  }

  .m-nav-box .flex li a span {
    display: block;
    position: static;
  }

  .m-nav-box .flex li a p {
    margin-top: 2px;
  }
}


/*------------- .m-point-box -------------*/
.m-point-box {
  padding: 115px 0 120px 0;
  background: url("../../images/common/common_pointbox_bg.png") no-repeat center center / 94% auto, #f6f8fd;
}

.m-point-box .container {
  width: 1140px;
  padding: 0 30px;
  margin: 0 auto;
}

.m-point-box .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 55px;
}

.m-point-box .box:first-of-type {
  margin-top: 0;
}

.m-point-box .box:nth-of-type(odd) {
  flex-direction: row-reverse;
}

.m-point-box .box:nth-of-type(odd) .text {
  padding-right: 71px;
}

.m-point-box .box:nth-of-type(even) .text {
  padding-left: 71px;
}

.m-point-box .box .img {
  width: 505px;
  text-align: center;
}

.m-point-box .box .img .border {
  display: inline-block;
  border: 4px solid #1b2c56;
  border-radius: 6px;
}

.m-point-box .box .text {
  width: calc(100% - 505px);
  padding-top: 20px;
}

.m-point-box .box .text .heading {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.m-point-box .box .text .heading .point {
  width: 46px;
}

.m-point-box .box .text .heading .point p {
  font-family: 'Roboto', sans-serif;
  color: #ea0029;
}

.m-point-box .box .text .heading .point p span {
  display: block;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
}

.m-point-box .box .text .heading .point p strong {
  display: block;
  font-size: 44px;
  font-size: 4.4rem;
  font-weight: 100;
  text-align: center;
}

.m-point-box .box .text .heading .title {
  width: calc(100% - 46px);
  padding-left: 16px;
  color: #1b2c56;
  font-size: 20px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.05em;
}

.m-point-box .box .text .read {
  margin-top: 25px;
  color: #1b2c56;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 767px) {
  .m-point-box {
    padding: 50px 0;
  }

  .m-point-box .container {
    width: 100%;
    padding: 0 20px;
  }

  .m-point-box .box {
    display: block;
    margin-top: 35px;
  }

  .m-point-box .box:first-of-type {
    margin-top: 0;
  }

  .m-point-box .box:nth-of-type(odd) .text {
    padding-right: 0;
  }

  .m-point-box .box:nth-of-type(even) .text {
    padding-left: 0;
  }

  .m-point-box .box .img {
    width: 100%;
  }

  .m-point-box .box .img .border {
    border: 3px solid #1b2c56;
  }

  .m-point-box .box .text {
    width: 100%;
    padding-top: 15px;
  }

  .m-point-box .box .text .heading .title {
    padding-left: 10px;
    font-size: 16px;
    font-size: 1.6rem;
  }

  .m-point-box .box .text .read {
    margin-top: 5px;
    font-size: 13px;
    font-size: 1.3rem;
  }
}


/*------------- .m-cost-box -------------*/
.m-cost-box {
  padding: 100px 0;
  background: url("../../images/common/common_costbox_bg.jpg") no-repeat center center / cover;
}

.m-cost-box .container {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1020px;
  padding: 0 30px;
  margin: 0 auto;
}

.m-cost-box .box {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 65px 30px 90px 30px;
  background: rgba(255,255,255,0.85);
  border-radius: 6px;
}

.m-cost-box .box .wrap .read {
  margin-top: 45px;
  color: #1b2c56;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 2;
  letter-spacing: 0.05em;
  text-align: center;
}

.m-cost-box .box .wrap .read span {
  display: inline-block;
  position: relative;
}

.m-cost-box .box .wrap .read span::before {
  content: "";
  display: block;
  width: 100%;
  height: 6px;
  background: #f5d336;
  position: absolute;
  left: 0;
  bottom: 6px;
  z-index: 1;
}

.m-cost-box .box .wrap .read span strong {
  position: relative;
  z-index: 2;
}

.m-cost-box .box .wrap .button {
  max-width: 420px;
  margin: 45px auto 0 auto;
}

@media screen and (max-width: 767px) {
  .m-cost-box {
    padding: 50px 0;
  }

  .m-cost-box .container {
    display: block;
    width: 100%;
    padding: 0 20px;
  }

  .m-cost-box .box {
    display: block;
    width: 100%;
    padding: 35px 20px 45px 20px;
    background: rgba(255,255,255,0.85);
    border-radius: 6px;
  }

  .m-cost-box .box .wrap .read {
    margin-top: 15px;
    font-size: 13px;
    font-size: 1.3rem;
  }

  .m-cost-box .box .wrap .read span::before {
    height: 5px;
    bottom: 5px;
  }

  .m-cost-box .box .wrap .button {
    margin: 25px auto 0 auto;
  }
}


/*------------- .m-cost-example-box -------------*/
.m-cost-example-box {
  padding: 95px 0 120px 0;
  background: #f3f3f3;
}

.m-cost-example-box .container {
  width: 1095px;
  padding: 0 30px;
  margin: 0 auto;
}

.m-cost-example-box .box {
  margin-top: 50px;
  border: 3px solid #1b2c56;
  border-radius: 6px;
}

.m-cost-example-box .box .heading {
  padding: 30px 20px;
  background: #1b2c56;
  position: relative;
}

.m-cost-example-box .box .heading .title {
  color: #fff;
  font-size: 25px;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.1em;
  text-align: center;
}

.m-cost-example-box .box .heading .title strong {
  display: inline-block;
  margin-right: 10px;
  font-size: 40px;
  font-size: 4rem;
}

.m-cost-example-box .box .heading .small {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 0.05em;
  position: absolute;
  right: 25px;
  bottom: 20px;
}

.m-cost-example-box .box .wrap {
  padding: 40px;
  background: #fff;
}

.m-cost-example-box .box ul li {
  display: inline-block;
  padding: 10px 15px;
  margin: 8px 8px 0 0;
  border-radius: 19px;
  color: #fff;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.35;
  letter-spacing: 0.05em;
  text-align: center;
}

.m-cost-example-box .box .blue .title {
  color: #1b2c56;
  font-size: 30px;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.05em;
  text-align: center;
}

.m-cost-example-box .box .blue ul {
  margin-top: 16px;
}

.m-cost-example-box .box .blue ul li {
  background: #1b2c56;
}

.m-cost-example-box .box .red {
  margin-top: 30px;
  border: 3px solid #ea0029;
  border-radius: 10px;
}

.m-cost-example-box .box .red .title {
  padding: 15px 20px;
  background: #ea0029;
  color: #fff;
  font-size: 20px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.05em;
  text-align: center;
}

.m-cost-example-box .box .red ul {
  padding: 22px 30px 30px 30px;
}

.m-cost-example-box .box .red ul li {
  background: #ea0029;
}

.m-cost-example-box .box .gray {
  margin-top: 30px;
  border: 3px solid #797979;
  border-radius: 10px;
}

.m-cost-example-box .box .gray .title {
  padding: 15px 20px;
  background: #797979;
  color: #fff;
  font-size: 20px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.05em;
  text-align: center;
}

.m-cost-example-box .box .gray ul {
  padding: 22px 30px 30px 30px;
}

.m-cost-example-box .box .gray ul li {
  background: #797979;
}

.m-cost-example-box .remark {
  margin-top: 15px;
}

.m-cost-example-box .remark p {
  margin-left: 1em;
  text-indent: -1em;
  color: #111;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.75;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 767px) {
  .m-cost-example-box {
    padding: 50px 0;
  }

  .m-cost-example-box .container {
    width: 100%;
    padding: 0 20px;
  }

  .m-cost-example-box .box {
    margin-top: 30px;
  }

  .m-cost-example-box .box .heading {
    padding: 15px 20px;
    background: #1b2c56;
    position: relative;
  }

  .m-cost-example-box .box .heading .title {
    font-size: 20px;
    font-size: 2rem;
  }

  .m-cost-example-box .box .heading .title strong {
    font-size: 26px;
    font-size: 2.6rem;
  }

  .m-cost-example-box .box .heading .small {
    display: block;
    margin-top: 5px;
    position: static;
  }

  .m-cost-example-box .box .wrap {
    padding: 20px;
    background: #fff;
  }

  .m-cost-example-box .box ul li {
    display: block;
    padding: 7px 10px;
    margin: 8px 0 0 0;
    border-radius: 6px;
    font-size: 12px;
    font-size: 1.2rem;
  }

  .m-cost-example-box .box .blue .title {
    font-size: 22px;
    font-size: 2.2rem;
  }

  .m-cost-example-box .box .red {
    border: 2px solid #ea0029;
  }

  .m-cost-example-box .box .red .title {
    padding: 10px 15px;
    font-size: 20px;
    font-size: 2rem;
  }

  .m-cost-example-box .box .red ul {
    padding: 12px 20px 20px 20px;
  }

  .m-cost-example-box .box .gray {
    margin-top: 30px;
    border: 2px solid #797979;
  }

  .m-cost-example-box .box .gray .title {
    padding: 10px 15px;
    font-size: 20px;
    font-size: 2rem;
  }

  .m-cost-example-box .box .gray ul {
    padding: 12px 20px 20px 20px;
  }

  .m-cost-example-box .remark p {
    font-size: 11px;
    font-size: 1.1rem;
  }
}


/*------------- .m-schedule-box -------------*/
.m-schedule-box {
  padding: 95px 0 125px 0;
}

.m-schedule-box .container {
  width: 1280px;
  padding: 0 30px;
  margin: 0 auto;
}

.m-schedule-box .table {
  margin-top: 50px;
}

.m-schedule-box .table table {
  width: 100%;
}

.m-schedule-box .table table tr th,
.m-schedule-box .table table tr td {
  width: 14%;
  padding: 25px 15px;
  border: 2px solid #fff;
  vertical-align: middle;
  text-align: center;
}

.m-schedule-box .table table tr > *:first-of-type {
  width: 13%;
}

.m-schedule-box .table table tr:first-of-type th:nth-of-type(7),
.m-schedule-box .table table tr:first-of-type th:nth-of-type(8),
.m-schedule-box .table table tr td[rowspan="6"]{
  width: 8.5%;
}

.m-schedule-box .table table tr th {
  background: #ea0029;
  color: #fff;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.35;
  letter-spacing: 0.05em;
}

.m-schedule-box .table table tr:first-of-type th {
  padding: 15px;
  background: #111;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 20px;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.35;
  letter-spacing: 0.05em;
}

.m-schedule-box .table table tr td {
  background: #f3f3f3;
  color: #111;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.35;
  letter-spacing: 0.05em;
}

.m-schedule-box .mini-table {
  max-width: 700px;
  margin: 50px auto 0 auto;
}

.m-schedule-box .mini-table table {
  width: 100%;
}

.m-schedule-box .mini-table table tr th,
.m-schedule-box .mini-table table tr td {
  padding: 15px 20px;
  border: 2px solid #fff;
}

.m-schedule-box .mini-table table tr th {
  width: 210px;
  background: #ea0029;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.75;
  letter-spacing: 0.05em;
}

.m-schedule-box .mini-table table tr:first-of-type th {
  background: #111;
  color: #fff;
  font-size: 20px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.05em;
}

.m-schedule-box .mini-table table tr td {
  width: calc(100% - 210px);
  background: #f3f3f3;
  color: #111;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 767px) {
  .m-schedule-box {
    padding: 50px 0;
  }

  .m-schedule-box .container {
    width: 100%;
    padding: 0 20px;
  }

  .m-schedule-box .table {
    width: 100%;
    margin-top: 30px;
    overflow: auto;
  }

  .m-schedule-box .table table {
    width: 900px;
  }

  .m-schedule-box .table table tr th,
  .m-schedule-box .table table tr td {
    padding: 15px 10px;
    border: 1px solid #fff;
  }

  .m-schedule-box .table table tr th {
    font-size: 12px;
    font-size: 1.2rem;
  }

  .m-schedule-box .table table tr:first-of-type th {
    padding: 15px 10px;
    font-size: 12px;
    font-size: 1.2rem;
  }

  .m-schedule-box .table table tr td {
    font-size: 12px;
    font-size: 1.2rem;
  }
  
  .m-schedule-box .mini-table {
    margin: 30px auto 0 auto;
  }

  .m-schedule-box .mini-table table tr th,
  .m-schedule-box .mini-table table tr td {
    padding: 15px;
    border: 1px solid #fff;
  }

  .m-schedule-box .mini-table table tr th {
    width: 80px;
    font-size: 13px;
    font-size: 1.3rem;
  }

  .m-schedule-box .mini-table table tr:first-of-type th {
    font-size: 16px;
    font-size: 1.6rem;
  }

  .m-schedule-box .mini-table table tr td {
    width: calc(100% - 80px);
    font-size: 13px;
    font-size: 1.3rem;
  }
}


/*------------- .m-photo-box -------------*/
.m-photo-box {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.m-photo-box img {
  width: calc(100% / 6);
  height: auto;
}

@media screen and (max-width: 767px) {
  .m-photo-box img {
    width: calc(100% / 4);
    height: auto;
  }
  
  .mobile .m-photo-box img {
    width: 25vw;
    height: 25vw;
  }
  
  .m-photo-box img:nth-of-type(1),
  .m-photo-box img:nth-of-type(2),
  .m-photo-box img:nth-of-type(11),
  .m-photo-box img:nth-of-type(12) {
    display: none;
  }
}


/*------------- .m-voice-box -------------*/
.m-voice-box {
  padding: 110px 0 120px 0;
  background: #f1f1f1;
}

.m-voice-box .container {
  width: 950px;
  padding: 0 30px;
  margin: 0 auto;
}

.m-voice-box .box {
  padding: 50px 60px;
  margin-top: 30px;
  background: #fff;
  border: 1px solid #e1e1e1;
}

.m-voice-box .box .name {
  color: #111;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.35;
  letter-spacing: 0.05em;
}

.m-voice-box .box .heading {
  margin-top: 10px;
  color: #d97601;
  font-size: 20px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.05em;
}

.m-voice-box .box .read {
  margin-top: 18px;
  color: #111;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.71;
  letter-spacing: 0.05em;
}

.m-voice-box .box .photo img {
  display: inline-block;
  margin-top: 20px;
  margin-right: 25px;
}

.m-voice-box .box .remark {
  margin-top: 15px;
  padding: 20px;
  border: 2px solid #d97601;
  border-radius: 4px;
  color: #111;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.71;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 767px) {
  .m-voice-box {
    padding: 50px 0;
  }

  .m-voice-box .container {
    width: 100%;
    padding: 0 20px;
  }

  .m-voice-box .box {
    padding: 25px 20px;
  }

  .m-voice-box .box .heading {
    margin-top: 8px;
    font-size: 18px;
    font-size: 1.8rem;
  }

  .m-voice-box .box .read {
    margin-top: 14px;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.75;
  }
  
  .m-voice-box .box .photo img {
    margin-right: 20px;
  }
  
  .m-voice-box .box .remark {
    padding: 15px;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.75;
  }
}


/* その他
---------------------------------------------------------------------------- */
/*-- ページナビゲーション --*/
.m-pageNavi {
  clear: both;
  text-align: center;
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
}
.m-pageNavi a {
  display: inline-block;
  padding: 8px 11px;
  margin: 0 3px;
  color: #1b2c56;
  background-color: #fff;
  border: 3px solid #1b2c56;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.m-pageNavi a:hover {
  background-color: #1b2c56;
  color: #fff;
}
.m-pageNavi .current {
  display: inline-block;
  padding: 8px 11px;
  margin: 0 3px;
  background-color: #1b2c56;
  border: 3px solid #1b2c56;
  color: #fff;
}
.m-pageNavi .prev,
.m-pageNavi .next {
  padding: 8px 12px;
  background-color: transparent;
  border: 3px solid transparent;
}

@media screen and (max-width: 767px){
  .m-pageNavi {
    margin-top: 40px;
  }
}