@charset "UTF-8";
/* フォントサイズ
---------------------------------------------------------------------------- */
.fs10 {
	font-size: 10px !important;
	font-size: 1rem !important;
}

.fs11 {
	font-size: 11px !important;
	font-size: 1.1rem !important;
}
.fs12 {
	font-size: 12px !important;
	font-size: 1.2rem !important;
}

.fs13 {
	font-size: 13px !important;
	font-size: 1.3rem !important;
}

.fs14 {
	font-size: 14px !important;
	font-size: 1.4rem !important;
}

.fs15 {
	font-size: 15px !important;
	font-size: 1.5rem !important;
}

.fs16 {
	font-size: 16px !important;
	font-size: 1.6rem !important;
}

.fs17 {
	font-size: 17px !important;
	font-size: 1.7rem !important;
}

.fs18 {
	font-size: 18px !important;
	font-size: 1.8rem !important;
}

.fs19 {
	font-size: 19px !important;
	font-size: 1.9rem !important;
}

.fs20 {
	font-size: 20px !important;
	font-size: 2rem !important;
}

.fs21 {
	font-size: 21px !important;
	font-size: 2.1rem !important;
}

.fs22 {
	font-size: 22px !important;
	font-size: 2.2rem !important;
}

.fs23 {
	font-size: 23px !important;
	font-size: 2.3rem !important;
}

.fs24 {
	font-size: 24px !important;
	font-size: 2.4rem !important;
}

.fs25 {
	font-size: 25px !important;
	font-size: 2.5rem !important;
}

.fs26 {
	font-size: 26px !important;
	font-size: 2.6rem !important;
}

.fs27 {
	font-size: 27px !important;
	font-size: 2.7rem !important;
}

.fs28 {
	font-size: 28px !important;
	font-size: 2.8rem !important;
}

.fs29 {
	font-size: 29px !important;
	font-size: 2.9rem !important;
}

.fs30 {
	font-size: 30px !important;
	font-size: 3rem !important;
}

.fs31 {
	font-size: 31px !important;
	font-size: 3.1rem !important;
}

.fs32 {
	font-size: 32px !important;
	font-size: 3.2rem !important;
}

.fs33 {
	font-size: 33px !important;
	font-size: 3.3rem !important;
}

.fs34 {
	font-size: 34px !important;
	font-size: 3.4rem !important;
}

.fs35 {
	font-size: 35px !important;
	font-size: 3.5rem !important;
}

.fs36 {
	font-size: 36px !important;
	font-size: 3.6rem !important;
}

.fs37 {
	font-size: 37px !important;
	font-size: 3.7rem !important;
}

.fs38 {
	font-size: 38px !important;
	font-size: 3.8rem !important;
}

.fs39 {
	font-size: 39px !important;
	font-size: 3.9rem !important;
}

.fs40 {
	font-size: 40px !important;
	font-size: 4rem !important;
}

.fs41 {
	font-size: 41px !important;
	font-size: 4.1rem !important;
}

.fs42 {
	font-size: 42px !important;
	font-size: 4.2rem !important;
}

.fs43 {
	font-size: 43px !important;
	font-size: 4.3rem !important;
}

.fs44 {
	font-size: 44px !important;
	font-size: 4.4rem !important;
}

.fs45 {
	font-size: 45px !important;
	font-size: 4.5rem !important;
}

.fs46 {
	font-size: 46px !important;
	font-size: 4.6rem !important;
}

.fs47 {
	font-size: 47px !important;
	font-size: 4.7rem !important;
}

.fs48 {
	font-size: 48px !important;
	font-size: 4.8rem !important;
}

.fs49 {
	font-size: 49px !important;
	font-size: 4.9rem !important;
}

.fs50 {
	font-size: 50px !important;
	font-size: 5rem !important;
}
@media screen and (max-width: 767px){
	.spfs10 {
		font-size: 10px !important;
		font-size: 1rem !important;
	}

	.spfs11 {
		font-size: 11px !important;
		font-size: 1.1rem !important;
	}

	.spfs12 {
		font-size: 12px !important;
		font-size: 1.2rem !important;
	}

	.spfs13 {
		font-size: 13px !important;
		font-size: 1.3rem !important;
	}

	.spfs14 {
		font-size: 14px !important;
		font-size: 1.4rem !important;
	}

	.spfs15 {
		font-size: 15px !important;
		font-size: 1.5rem !important;
	}

	.spfs16 {
		font-size: 16px !important;
		font-size: 1.6rem !important;
	}

	.spfs17 {
		font-size: 17px !important;
		font-size: 1.7rem !important;
	}

	.spfs18 {
		font-size: 18px !important;
		font-size: 1.8rem !important;
	}

	.spfs19 {
		font-size: 19px !important;
		font-size: 1.9rem !important;
	}

	.spfs20 {
		font-size: 20px !important;
		font-size: 2rem !important;
	}

	.spfs21 {
		font-size: 21px !important;
		font-size: 2.1rem !important;
	}

	.spfs22 {
		font-size: 22px !important;
		font-size: 2.2rem !important;
	}

	.spfs23 {
		font-size: 23px !important;
		font-size: 2.3rem !important;
	}

	.spfs24 {
		font-size: 24px !important;
		font-size: 2.4rem !important;
	}

	.spfs25 {
		font-size: 25px !important;
		font-size: 2.5rem !important;
	}

	.spfs26 {
		font-size: 26px !important;
		font-size: 2.6rem !important;
	}

	.spfs27 {
		font-size: 27px !important;
		font-size: 2.7rem !important;
	}

	.spfs28 {
		font-size: 28px !important;
		font-size: 2.8rem !important;
	}

	.spfs29 {
		font-size: 29px !important;
		font-size: 2.9rem !important;
	}

	.spfs30 {
		font-size: 30px !important;
		font-size: 3rem !important;
	}

	.spfs31 {
		font-size: 31px !important;
		font-size: 3.1rem !important;
	}

	.spfs32 {
		font-size: 32px !important;
		font-size: 3.2rem !important;
	}

	.spfs33 {
		font-size: 33px !important;
		font-size: 3.3rem !important;
	}

	.spfs34 {
		font-size: 34px !important;
		font-size: 3.4rem !important;
	}

	.spfs35 {
		font-size: 35px !important;
		font-size: 3.5rem !important;
	}

	.spfs36 {
		font-size: 36px !important;
		font-size: 3.6rem !important;
	}

	.spfs37 {
		font-size: 37px !important;
		font-size: 3.7rem !important;
	}

	.spfs38 {
		font-size: 38px !important;
		font-size: 3.8rem !important;
	}

	.spfs39 {
		font-size: 39px !important;
		font-size: 3.9rem !important;
	}

	.spfs40 {
		font-size: 40px !important;
		font-size: 4rem !important;
	}

	.spfs41 {
		font-size: 41px !important;
		font-size: 4.1rem !important;
	}

	.spfs42 {
		font-size: 42px !important;
		font-size: 4.2rem !important;
	}

	.spfs43 {
		font-size: 43px !important;
		font-size: 4.3rem !important;
	}

	.spfs44 {
		font-size: 44px !important;
		font-size: 4.4rem !important;
	}

	.spfs45 {
		font-size: 45px !important;
		font-size: 4.5rem !important;
	}

	.spfs46 {
		font-size: 46px !important;
		font-size: 4.6rem !important;
	}

	.spfs47 {
		font-size: 47px !important;
		font-size: 4.7rem !important;
	}

	.spfs48 {
		font-size: 48px !important;
		font-size: 4.8rem !important;
	}

	.spfs49 {
		font-size: 49px !important;
		font-size: 4.9rem !important;
	}

	.spfs50 {
		font-size: 50px !important;
		font-size: 5rem !important;
	}
}

/* clearfix
---------------------------------------------------------------------------- */
.clearfix {
	zoom: 1;
}

.clearfix:after {
	content: "";
	clear: both;
	display: block;
}

/* テキストアライン
---------------------------------------------------------------------------- */
.tal {
	text-align: left !important;
}

.tac {
	text-align: center !important;
}

.tar {
	text-align: right !important;
}

/* Bold
---------------------------------------------------------------------------- */
.bold{
	font-weight: bold;
}

/* フロート
---------------------------------------------------------------------------- */
.flR {
	float: right !important;
}

.flL {
	float: left !important;
}

/* マージン
---------------------------------------------------------------------------- */
.m00 {
	margin: 0px !important;
}

.mauto {
	margin: 0 auto !important;
}

.mt0 {
	margin-top: 0px !important;
}

.mt5 {
	margin-top: 5px !important;
}

.mt10 {
	margin-top: 10px !important;
}

.mt15 {
	margin-top: 15px !important;
}

.mt20 {
	margin-top: 20px !important;
}

.mt25 {
	margin-top: 25px !important;
}

.mt30 {
	margin-top: 30px !important;
}

.mt35 {
	margin-top: 35px !important;
}

.mt40 {
	margin-top: 40px !important;
}

.mt45 {
	margin-top: 45px !important;
}

.mt50 {
	margin-top: 50px !important;
}

.mt55 {
	margin-top: 55px !important;
}

.mt60 {
	margin-top: 60px !important;
}

.mt65 {
	margin-top: 65px !important;
}

.mt70 {
	margin-top: 70px !important;
}

.mt75 {
	margin-top: 75px !important;
}

.mt80 {
	margin-top: 80px !important;
}

.mt85 {
	margin-top: 85px !important;
}

.mt90 {
	margin-top: 90px !important;
}

.mt95 {
	margin-top: 95px !important;
}

.mt100 {
	margin-top: 100px !important;
}

.mb0 {
	margin-bottom: 0px !important;
}

.mb5 {
	margin-bottom: 5px !important;
}

.mb10 {
	margin-bottom: 10px !important;
}

.mb15 {
	margin-bottom: 15px !important;
}

.mb20 {
	margin-bottom: 20px !important;
}

.mb25 {
	margin-bottom: 25px !important;
}

.mb30 {
	margin-bottom: 30px !important;
}

.mb35 {
	margin-bottom: 35px !important;
}

.mb40 {
	margin-bottom: 40px !important;
}

.mb45 {
	margin-bottom: 45px !important;
}

.mb50 {
	margin-bottom: 50px !important;
}

.mb55 {
	margin-bottom: 55px !important;
}

.mb60 {
	margin-bottom: 60px !important;
}

.mb65 {
	margin-bottom: 65px !important;
}

.mb70 {
	margin-bottom: 70px !important;
}

.mb75 {
	margin-bottom: 75px !important;
}

.mb80 {
	margin-bottom: 80px !important;
}

.mb85 {
	margin-bottom: 85px !important;
}

.mb90 {
	margin-bottom: 90px !important;
}

.mb95 {
	margin-bottom: 95px !important;
}

.mb100 {
	margin-bottom: 100px !important;
}
@media screen and (max-width: 767px){
	.spm00 {
		margin: 0px !important;
	}

	.spmauto {
		margin: 0 auto !important;
	}

	.spmt0 {
		margin-top: 0px !important;
	}

	.spmt5 {
		margin-top: 5px !important;
	}

	.spmt10 {
		margin-top: 10px !important;
	}

	.spmt15 {
		margin-top: 15px !important;
	}

	.spmt20 {
		margin-top: 20px !important;
	}

	.spmt25 {
		margin-top: 25px !important;
	}

	.spmt30 {
		margin-top: 30px !important;
	}

	.spmt35 {
		margin-top: 35px !important;
	}

	.spmt40 {
		margin-top: 40px !important;
	}

	.spmt45 {
		margin-top: 45px !important;
	}

	.spmt50 {
		margin-top: 50px !important;
	}

	.spmt55 {
		margin-top: 55px !important;
	}

	.spmt60 {
		margin-top: 60px !important;
	}

	.spmt65 {
		margin-top: 65px !important;
	}

	.spmt70 {
		margin-top: 70px !important;
	}

	.spmt75 {
		margin-top: 75px !important;
	}

	.spmt80 {
		margin-top: 80px !important;
	}

	.spmt85 {
		margin-top: 85px !important;
	}

	.spmt90 {
		margin-top: 90px !important;
	}

	.spmt95 {
		margin-top: 95px !important;
	}

	.spmt100 {
		margin-top: 100px !important;
	}

	.spmb0 {
		margin-bottom: 0px !important;
	}

	.spmb5 {
		margin-bottom: 5px !important;
	}

	.spmb10 {
		margin-bottom: 10px !important;
	}

	.spmb15 {
		margin-bottom: 15px !important;
	}

	.spmb20 {
		margin-bottom: 20px !important;
	}

	.spmb25 {
		margin-bottom: 25px !important;
	}

	.spmb30 {
		margin-bottom: 30px !important;
	}

	.spmb35 {
		margin-bottom: 35px !important;
	}

	.spmb40 {
		margin-bottom: 40px !important;
	}

	.spmb45 {
		margin-bottom: 45px !important;
	}

	.spmb50 {
		margin-bottom: 50px !important;
	}

	.spmb55 {
		margin-bottom: 55px !important;
	}

	.spmb60 {
		margin-bottom: 60px !important;
	}

	.spmb65 {
		margin-bottom: 65px !important;
	}

	.spmb70 {
		margin-bottom: 70px !important;
	}

	.spmb75 {
		margin-bottom: 75px !important;
	}

	.spmb80 {
		margin-bottom: 80px !important;
	}

	.spmb85 {
		margin-bottom: 85px !important;
	}

	.spmb90 {
		margin-bottom: 90px !important;
	}

	.spmb95 {
		margin-bottom: 95px !important;
	}

	.spmb100 {
		margin-bottom: 100px !important;
	}
}


/* パディング
---------------------------------------------------------------------------- */
.pd00 {
	padding: 0 !important;
}

.pt0 {
	padding-top: 0px !important;
}

.pt5 {
	padding-top: 5px !important;
}

.pt10 {
	padding-top: 10px !important;
}

.pt15 {
	padding-top: 15px !important;
}

.pt20 {
	padding-top: 20px !important;
}

.pt25 {
	padding-top: 25px !important;
}

.pt30 {
	padding-top: 30px !important;
}

.pt35 {
	padding-top: 35px !important;
}

.pt40 {
	padding-top: 40px !important;
}

.pt45 {
	padding-top: 45px !important;
}

.pt50 {
	padding-top: 50px !important;
}

.pt55 {
	padding-top: 55px !important;
}

.pt60 {
	padding-top: 60px !important;
}

.pt65 {
	padding-top: 65px !important;
}

.pt70 {
	padding-top: 70px !important;
}

.pt75 {
	padding-top: 75px !important;
}

.pt80 {
	padding-top: 80px !important;
}

.pt85 {
	padding-top: 85px !important;
}

.pt90 {
	padding-top: 90px !important;
}

.pt95 {
	padding-top: 95px !important;
}

.pt100 {
	padding-top: 100px !important;
}

.pb0 {
	padding-bottom: 0px !important;
}

.pb5 {
	padding-bottom: 5px !important;
}

.pb10 {
	padding-bottom: 10px !important;
}

.pb15 {
	padding-bottom: 15px !important;
}

.pb20 {
	padding-bottom: 20px !important;
}

.pb25 {
	padding-bottom: 25px !important;
}

.pb30 {
	padding-bottom: 30px !important;
}

.pb35 {
	padding-bottom: 35px !important;
}

.pb40 {
	padding-bottom: 40px !important;
}

.pb45 {
	padding-bottom: 45px !important;
}

.pb50 {
	padding-bottom: 50px !important;
}

.pb55 {
	padding-bottom: 55px !important;
}

.pb60 {
	padding-bottom: 60px !important;
}

.pb65 {
	padding-bottom: 65px !important;
}

.pb70 {
	padding-bottom: 70px !important;
}

.pb75 {
	padding-bottom: 75px !important;
}

.pb80 {
	padding-bottom: 80px !important;
}

.pb85 {
	padding-bottom: 85px !important;
}

.pb90 {
	padding-bottom: 90px !important;
}

.pb95 {
	padding-bottom: 95px !important;
}

.pb100 {
	padding-bottom: 100px !important;
}
@media screen and (max-width: 767px){
	.sppd00 {
		padding: 0 !important;
	}

	.sppt0 {
		padding-top: 0px !important;
	}

	.sppt5 {
		padding-top: 5px !important;
	}

	.sppt10 {
		padding-top: 10px !important;
	}

	.sppt15 {
		padding-top: 15px !important;
	}

	.sppt20 {
		padding-top: 20px !important;
	}

	.sppt25 {
		padding-top: 25px !important;
	}

	.sppt30 {
		padding-top: 30px !important;
	}

	.sppt35 {
		padding-top: 35px !important;
	}

	.sppt40 {
		padding-top: 40px !important;
	}

	.sppt45 {
		padding-top: 45px !important;
	}

	.sppt50 {
		padding-top: 50px !important;
	}

	.sppt55 {
		padding-top: 55px !important;
	}

	.sppt60 {
		padding-top: 60px !important;
	}

	.sppt65 {
		padding-top: 65px !important;
	}

	.sppt70 {
		padding-top: 70px !important;
	}

	.sppt75 {
		padding-top: 75px !important;
	}

	.sppt80 {
		padding-top: 80px !important;
	}

	.sppt85 {
		padding-top: 85px !important;
	}

	.sppt90 {
		padding-top: 90px !important;
	}

	.sppt95 {
		padding-top: 95px !important;
	}

	.sppt100 {
		padding-top: 100px !important;
	}

	.sppb0 {
		padding-bottom: 0px !important;
	}

	.sppb5 {
		padding-bottom: 5px !important;
	}

	.sppb10 {
		padding-bottom: 10px !important;
	}

	.sppb15 {
		padding-bottom: 15px !important;
	}

	.sppb20 {
		padding-bottom: 20px !important;
	}

	.sppb25 {
		padding-bottom: 25px !important;
	}

	.sppb30 {
		padding-bottom: 30px !important;
	}

	.sppb35 {
		padding-bottom: 35px !important;
	}

	.sppb40 {
		padding-bottom: 40px !important;
	}

	.sppb45 {
		padding-bottom: 45px !important;
	}

	.sppb50 {
		padding-bottom: 50px !important;
	}

	.sppb55 {
		padding-bottom: 55px !important;
	}

	.sppb60 {
		padding-bottom: 60px !important;
	}

	.sppb65 {
		padding-bottom: 65px !important;
	}

	.sppb70 {
		padding-bottom: 70px !important;
	}

	.sppb75 {
		padding-bottom: 75px !important;
	}

	.sppb80 {
		padding-bottom: 80px !important;
	}

	.sppb85 {
		padding-bottom: 85px !important;
	}

	.sppb90 {
		padding-bottom: 90px !important;
	}

	.sppb95 {
		padding-bottom: 95px !important;
	}

	.sppb100 {
		padding-bottom: 100px !important;
	}
}

.nopc{
	display: none;
}
.nosp{
	display: block;
}
@media screen and (max-width: 767px){
	.nopc{
		display: block;
	}
	.nosp{
		display: none;
	}
}