/*------------- .p-mv-box -------------*/
.p-mv-box {
  height: 100vh;
  background: #1b2c56;
  position: relative;
  overflow: hidden;
}

.p-mv-box:before,
.p-mv-box:after {
  content: "";
  display: block;
  width: 50%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 1;
}

.p-mv-box:before {
  background: url("../../images/top/mv_img_01.jpg") no-repeat bottom center / cover;
  left: 0;
  animation: slideInBefore 1s ease;
}

.p-mv-box:after {
  background: url("../../images/top/mv_img_02.jpg") no-repeat bottom center / cover;
  right: 0;
  animation: slideInAfter 1s ease;
}

@keyframes slideInBefore {
  0% {
    top: -100%;
  }

  100% {
    top: 0;
  }
}

@keyframes slideInAfter {
  0% {
    top: 100%;
  }

  100% {
    top: 0;
  }
}

.p-mv-box .logo {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100px;
  padding-left: 30px;
  position: relative;
  z-index: 3;
}

.p-mv-box .logo a {
  display: inline-block;
  transition: all 0.3s ease;
}

.p-mv-box .logo a:hover {
  opacity: 0.7;
}

.p-mv-box .logo a img {
  width: 300px;
}

.p-mv-box .m-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.p-mv-box .box {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 700px;
  height: 420px;
  padding: 0 20px;
  margin: auto;
  background: rgba(255,255,255,0.9);
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(1);
  animation: fadeInBox 1.8s ease;
}

@keyframes fadeInBox {
  0% {
    opacity: 0;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.p-mv-box .box .container {
  width: 100%;
  max-width: 570px;
  margin: 0 auto;
}

.p-mv-box .box h1 {
  text-align: center;
}

.p-mv-box .box p {
  padding: 18px 0 18px 12px;
  margin: 35px auto 0 auto;
  border-top: 1px solid #1b2c56;
  border-bottom: 1px solid #1b2c56;
  animation: fadeInText 3s ease;
}

@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.p-mv-box .box p span {
  display: block;
  width: 23.76em;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 2.4s steps(22) 1.8s 1 normal both;
  color: #1b2c56;
  font-size: 23px;
  font-size: 2.3rem;
  font-weight: bold;
  line-height: 1.35;
  letter-spacing: 0.08em;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 23.76em;
  }
}

.p-mv-box .inquiry {
  width: 175px;
  position: absolute;
  top: 40px;
  right: 30px;
  opacity: 1;
  z-index: 3;
  animation: fadeIn 5.5s ease, Bounce 0.8s ease 4.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  79% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Bounce {
  0% {
    transform: scale(0);
  }

  4% {
    transform: scale(0.11);
  }

  8% {
    transform: scale(0.44);
  }

  18% {
    transform: scale(0.98);
  }

  26% {
    transform: scale(0.75);
  }

  46% {
    transform: scale(0.98);
  }

  64% {
    transform: scale(0.94);
  }

  76% {
    transform: scale(0.99);
  }

  88% {
    transform: scale(0.98);
  }

  100% {
    transform: scale(1);
  }
}

.p-mv-box .inquiry a {
  display: inline-block;
  transition: all 0.3s ease;
}

.p-mv-box .inquiry a:hover {
  opacity: 0.7;
}

.p-mv-box .inquiry a img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 767px){
  .p-mv-box {
    height: calc(100vh - 70px);
  }

  .p-mv-box:before,
  .p-mv-box:after {
    width: 100%;
    height: calc(50vh - 35px);
    top: auto;
  }

  .p-mv-box:before {
    top: 0;
    left: 0;
  }

  .p-mv-box:after {
    right: 0;
    bottom: 0;
  }

  @keyframes slideInBefore {
    0% {
      left: -100%;
    }

    100% {
      left: 0;
    }
  }

  @keyframes slideInAfter {
    0% {
      right: -100%;
    }

    100% {
      right: 0;
    }
  }

  .p-mv-box .logo {
    display: none;
  }

  .p-mv-box .box {
    width: calc(100% - 40px);
    max-width: 335px;
    height: 270px;
    padding: 30px 20px 0 20px;
  }

  .p-mv-box .box h1 {
    text-align: center;
  }

  .p-mv-box .box p {
    padding: 12px 0 12px 5px;
    margin: 25px auto 0 auto;
    text-align: center;
  }

  .p-mv-box .box p span {
    display: inline-block;
    width: auto;
    white-space: inherit;
    overflow: auto;
    font-size: 14px;
    font-size: 1.4rem;
    animation: none;
  }

  .p-mv-box .inquiry {
    width: 150px;
    margin: auto;
    top: 7vw;
    left: 0;
    right: 0;
    bottom: auto;
    animation: fadeIn 3.5s ease, Bounce 0.8s ease 2.5s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    73% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .p-mv-box .inquiry a {
    transition: none;
  }

  .p-mv-box .inquiry a:hover {
    opacity: 1;
  }
}


/*------------- .p-nav-box -------------*/
.p-nav-box .m-container > .flex {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 120px;
}

.p-nav-box .flex li {
  width: 100%;
  border-left: 1px solid #1b2c56;
  text-align: center;
}

.p-nav-box .flex li:first-of-type {
  border-left: none;
}

.p-nav-box .flex li a {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100px;
  color: #1b2c56;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.35;
  letter-spacing: 0.05em;
  text-decoration: none;
}

.p-nav-box .flex li a span {
  display: inline-block;
  position: relative;
}

.p-nav-box .flex li a span:before {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  margin: auto;
  background: #ea0029;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -7px;
  transition: all 0.3s ease;
}

.p-nav-box .flex li a:hover span:before,
.p-nav-box .flex li a.is-current span:before {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .p-nav-box {
    display: none;
  }
}


/*------------- .p-about-box -------------*/
.p-about-box {
  padding: 80px 0 90px 0;
  background: url("../../images/top/about_bg.png") no-repeat center center / cover;
}

.p-about-box .description {
  margin-top: 35px;
  color: #1b2c56;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 2;
  letter-spacing: 0.05em;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .p-about-box {
    padding: 50px 0;
    background: url("../../images/top/about_bg.png") no-repeat top -15px right -30px / 100% auto, #f4f6fc;
  }

  .p-about-box .description {
    margin-top: 25px;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.75;
  }
}


/*------------- .p-genre-box -------------*/
.p-genre-box {
  padding: 95px 0;
  background: url("../../images/top/genre_bg.jpg") no-repeat center center / cover;
  background-attachment: fixed;
}

.p-genre-box .flex {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 10px;
}

.p-genre-box .flex li {
  width: calc(33.33% - 26.66px);
  padding: 35px;
  margin-top: 44px;
  margin-left: 40px;
  background: #fff;
  border: 2px solid #1b2c56;
  border-radius: 6px;
}

.p-genre-box .flex li:nth-of-type(3n+1) {
  margin-left: 0;
}

.p-genre-box .flex li h3 {
  padding-bottom: 16px;
  color: #1b2c56;
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  position: relative;
}

.p-genre-box .flex li h3:before {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  margin: 0 auto;
  background: #111;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.p-genre-box .flex li p {
  min-height: 96px;
  margin-top: 20px;
  color: #1b2c56;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.75;
  letter-spacing: 0.05em;
}

.p-genre-box .flex li .button {
  max-width: 200px;
  margin: 25px auto 0 auto;
}

@media screen and (max-width: 767px) {
  .p-genre-box {
    padding: 50px 0;
  }

  .p-genre-box .flex {
    margin-top: 10px;
  }

  .p-genre-box .flex li {
    width: 100%;
    padding: 25px;
    margin-top: 20px;
    margin-left: 0;
  }

  .p-genre-box .flex li:nth-of-type(3n+1) {
    margin-left: 0;
  }
  
  .p-genre-box .flex li:nth-of-type(odd) {
    margin-left: 0;
  }

  .p-genre-box .flex li h3 {
    padding-bottom: 12px;
    font-size: 18px;
    font-size: 1.8rem;
  }

  .p-genre-box .flex li p {
    min-height: inherit;
    margin-top: 15px;
    font-size: 13px;
    font-size: 1.3rem;
  }

  .p-genre-box .flex li .button {
    margin: 20px auto 0 auto;
  }
}


/*------------- .p-blog-box -------------*/
.p-blog-box {
  padding: 95px 0;
  background: url("../../images/top/blog_bg.jpg") no-repeat bottom center / cover;
}

.p-blog-box .flex {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.p-blog-box .flex li {
  width: calc(25% - 9px);
  margin-top: 44px;
  margin-left: 12px;
}

.p-blog-box .flex li:nth-of-type(4n+1) {
  margin-left: 0;
}

.p-blog-box .flex li a {
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.1);
  color: #1b2c56;
  text-decoration: none;
  transition: all 0.3s ease;
}

.p-blog-box .flex li a .img {
  width: 100%;
  height: 205px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.p-blog-box .flex li a .img img {
  width: 100%;
  height: auto;
  transition: all 0.5s ease;
}

.p-blog-box .flex li a:hover .img img {
  transform: scale(1.1);
}

.p-blog-box .flex li a .img .cat {
  display: inline-block;
  padding: 5px 15px;
  background: #1b2c56;
  color: #fff;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  position: absolute;
  right: 0;
  bottom: 0;
}

.p-blog-box .flex li a .text {
  padding: 30px 20px;
  position: relative;
  z-index: 2;
  transition: all 0.3s ease;
}

.p-blog-box .flex li a:hover .text {
  opacity: 0.7;
}

.p-blog-box .flex li a .text .day {
  font-family: 'Roboto', sans-serif;
  color: #1b2c56;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
}

.p-blog-box .flex li a .text h3 {
  margin-top: 12px;
  color: #1b2c56;
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.35;
  letter-spacing: 0.05em;
}

.p-blog-box .flex li a .text .description {
  margin-top: 12px;
  color: #1b2c56;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.75;
  letter-spacing: 0.05em;
  text-align: justify;
  text-justify: inter-ideograph;
  font-variant-ligatures: none;
}

.p-blog-box .button {
  max-width: 300px;
  margin: 70px auto 0 auto;
}

@media screen and (max-width: 767px) {
  .p-blog-box {
    padding: 50px 0;
    background: #f0f0f0;
  }

  .p-blog-box .flex li {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
  }

  .p-blog-box .flex li a {
    box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.1);
    transition: none;
  }

  .p-blog-box .flex li a .img {
    /* height: 45vw; */
  }

  .p-blog-box .flex li a .img img {
    transition: none;
  }

  .p-blog-box .flex li a:hover .img img {
    transform: scale(1);
  }

  .p-blog-box .flex li a .img .cat {
    padding: 5px 10px;
    font-size: 12px;
    font-size: 1.2rem;
  }

  .p-blog-box .flex li a .text {
    padding: 20px;
    transition: none;
  }

  .p-blog-box .flex li a:hover .text {
    opacity: 1;
  }


  .p-blog-box .flex li a .text h3 {
    font-size: 16px;
    font-size: 1.6rem;
  }
  
  .p-blog-box .button {
    margin: 40px auto 0 auto;
  }
}


/*------------- .p-news-box -------------*/
.p-news-box {
  padding: 100px 0 95px 0;
  background: url("../../images/top/news_bg.jpg") no-repeat center center / cover;
  background-attachment: fixed;
}

.p-news-box .box {
  max-width: 965px;
  padding: 50px 80px 60px 80px;
  margin: 0 auto;
  background: rgba(255,255,255,0.85);
}

.p-news-box .box ul {
  margin-top: 30px;
}

.p-news-box .box ul li {
  border-bottom: 1px solid #111;
}

.p-news-box .box ul li .flex {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  padding: 25px 0;
  color: #111;
  text-decoration: none;
  transition: all 0.3s ease;
}

.p-news-box .box ul li .flex:hover {
  opacity: 0.7;
}

.p-news-box .box ul li .flex .day {
  width: 255px;
  padding: 0 20px 0 30px;
  font-family: 'Roboto', sans-serif;
  color: #111;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.p-news-box .box ul li .flex .title {
  width: calc(100% - 255px);
}

.p-news-box .box ul li .flex .title h3 {
  color: #111;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.35;
  letter-spacing: 0.05em;
}

.p-news-box .button {
  max-width: 300px;
  margin: 50px auto 0 auto;
}

@media screen and (max-width: 767px) {
  .p-news-box {
    padding: 50px 0;
  }

  .p-news-box .box {
    padding: 25px 20px 30px 20px;
    margin: 0 auto;
    background: rgba(255,255,255,0.85);
  }

  .p-news-box .box ul {
    margin-top: 5px;
  }

  .p-news-box .box ul li .flex {
    display: block;
    padding: 12px 0;
    transition: none;
  }

  .p-news-box .box ul li .flex:hover {
    opacity: 1;
  }

  .p-news-box .box ul li .flex .day {
    width: auto;
    padding: 0;
    font-size: 13px;
    font-size: 1.3rem;
  }

  .p-news-box .box ul li .flex .title {
    width: auto;
  }

  .p-news-box .box ul li .flex .title h3 {
    font-size: 14px;
    font-size: 1.4rem;
  }

  .p-news-box .button {
    margin: 30px auto 0 auto;
  }
}


/*------------- .p-question-box -------------*/
.p-question-box {
  padding: 100px 0;
  margin-bottom: 105px;
  background: #f1f4fb;
  position: relative;
}

.p-question-box:before {
  content: "";
  display: block;
  width: 693px;
  height: 105px;
  margin: auto;
  background: url("../../images/top/question_bg_arrow.png") no-repeat top left;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -104px;
}

.p-question-box .flex {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.p-question-box .flex li {
  width: calc(20% - 24px);
  margin-top: 50px;
  margin-left: 30px;
}

.p-question-box .flex li:nth-of-type(5n+1) {
  margin-left: 0;
}

.p-question-box .flex li .img {
  width: 228px;
  height: 228px;
  border: 2px solid #1b2c56;
  border-radius: 50%;
  overflow: hidden;
}

.p-question-box .flex li .text {
  margin-top: 18px;
  color: #1b2c56;
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.75;
  letter-spacing: 0.05em;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .p-question-box {
    padding: 50px 0 40px 0;
    margin-bottom: 43.75px;
  }

  .p-question-box:before {
    content: "";
    display: block;
    width: 288.75px;
    height: 43.75px;
    margin: auto;
    background: url("../../images/top/question_bg_arrow.png") no-repeat top left / 288.75px auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -42.75px;
  }

  .p-question-box .flex {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .p-question-box .flex li {
    width: calc(50% - 6px);
    margin-top: 30px;
    margin-left: 12px;
  }

  .p-question-box .flex li:nth-of-type(5n+1) {
    margin-left: 12px;
  }
  
  .p-question-box .flex li:nth-of-type(odd) {
    margin-left: 0;
  }

  .p-question-box .flex li .img {
    width: calc(50vw - 28px);
    height: calc(50vw - 28px);
  }

  .p-question-box .flex li .text {
    margin-top: 10px;
    font-size: 11px;
    font-size: 1.1rem;
  }
}