.p-mv {
  background-image: url("../../../images/page/404/img_mv.jpg");
}

.p-box p {
  margin-top: 40px;
  color: #111;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.75;
  letter-spacing: 0.05em;
}

.p-box p:first-child {
  margin-top: 0;
}

.p-box .button {
  max-width: 300px;
  margin: 40px auto 0 auto;
}

.p-box .button a span {
  padding-left: 0;
  background: none;
}

@media screen and (max-width: 767px){
  .p-box p {
    font-size: 13px;
    font-size: 1.3rem;
  }
}