.p-mv {
  background-image: url("../../../images/page/company/img_mv.jpg");
}

.p-box {
  padding: 120px 0 0 0;
  background: #f4f6fc;
}

.p-box .p-container {
  width: 1020px;
  padding: 0 30px;
  margin: 0 auto;
}

.p-box .description {
  padding-bottom: 120px;
}

.p-box .description .read {
  margin-top: 50px;
}

.p-box .description .read p {
  margin-top: 35px;
  color: #1b2c56;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 2.14;
  letter-spacing: 0.05em;
}

.p-box .description .read p:first-of-type {
  margin-top: 0;
}

.p-box .about {
  padding: 95px 0 125px 0;
  background: #fff;
}

.p-box .about table {
  width: 600px;
  margin: 55px auto 0 auto;
}

.p-box .about table tr th,
.p-box .about table tr td {
  padding: 16px 25px;
  color: #1b2c56;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.75;
  letter-spacing: 0.05em;
  text-align: left;
}

.p-box .about table tr:nth-of-type(odd) th,
.p-box .about table tr:nth-of-type(odd) td {
  background: #f4f6fc;
}

.p-box .about table tr th {
  width: 215px;
  font-weight: 700;
}

.p-box .about table tr td {
  width: calc(100% - 215px);
  padding-left: 0;
}

@media screen and (max-width: 767px) {
  .p-box {
    padding-top: 50px;
  }

  .p-box .p-container {
    width: auto;
    padding: 0 20px;
  }

  .p-box .description {
    padding-bottom: 50px;
  }

  .p-box .description .read {
    margin-top: 35px;
  }

  .p-box .description .read p {
    margin-top: 20px;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.75;
  }

  .p-box .about {
    padding: 50px 0 70px 0;
  }

  .p-box .about table {
    width: 100%;
    margin: 30px auto 0 auto;
  }

  .p-box .about table tr th,
  .p-box .about table tr td {
    padding: 10px 15px;
    font-size: 12px;
    font-size: 1.2rem;
  }

  .p-box .about table tr th {
    width: 130px;
    font-weight: 700;
  }

  .p-box .about table tr td {
    width: calc(100% - 130px);
    padding-left: 0;
  }
}